* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #cdb4db;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content {
    height: 575px;
    width: 350px;
    background-color: #ffc8dd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 2rem;
}

.header {
    height: 3rem;
    width: 100%;
    background-color: #ffafcc;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
}

.img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border: 0.5rem solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
#img1{
    background-image: url(mike_1.avif); 
}
#img2{
    background-image: url(mike_2.jpg);
}

.hide{
    display: none;
}

.slider-container {
    height: 2rem;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 0.5rem;
    border-radius: 2rem;
    background: #fe97bd;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background: #fe7ead;
    border: 0.2rem solid #fff;
    cursor: pointer;
}

.btns {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: 0rem 3rem;
    margin-bottom: 2rem;
}
#playbtn{
    scale: 1.5;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #fff;
    padding-top: 1rem;
}

#playbtn:hover{
    cursor: pointer;
}

.songname{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
}
.singername{
    font-size: 1rem;
    margin-top: 0.1rem;
}

#back:hover{
    cursor: pointer;
    transform: scale(1.5);
}